# Python
venv/
__pycache__/
*.pyc

# Data
data/raw/*
data/processed/*
test_results/*
tickets_results/*
tickets/*
results_generic/*

# OCR outputs
*.ocr.json

# Paddle / PaddleX models
.paddlex/
.paddleocr/

# OS
.DS_Store
Thumbs.db
