# =========================
# DATA (NEVER PUSH)
# =========================
data/
*.jpg
*.jpeg
*.png
*.pdf

# OCR outputs
*.ocr.json
*_decision.json
*_processed.*

# Temp
.temp/
__pycache__/

# Env
venv/
.env

